extends layout

block main
  body
    h1 Welcome to the converter app!

    form(method='post', action='/')
      label Please enter the number you want to convert:
        input(type='text', name='numberToConvert')
      br
      label What base are you converting from?
        input(type='text', name='baseFrom')
      br
      label What base do you want the number converted to?
        input(type='text', name='baseTo')
      br
      button(type='submit', context='getAnswer') Convert!
